body{
    background-color: rgb(66, 50, 109);
}
header{
    color: white;
    font-size: 50px;
    text-align: center;
    background-color: black;
}
nav{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: rgb(197, 191, 218);
}
main{
    background-color: azure;
    color: rgb(75, 65, 99);
    text-align: center;
    width: auto;
    box-shadow: 0 0 0.5;
}
h2{
    font-size: 30px;
    padding-top: 20px;
}
img{
    width: 150px;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
